<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Exploring NYC Club Complaints with Pandas

_Authors: Julian Oquendo and James Larkin_

### Import standard libraries for data analysis in Python

In [1]:
# Import standard libraries with the commonly used aliases
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Aliased as pd


# Numerical Python - library for various mathematical operations
# Aliased as np


# Seaborn is a robust data visualization library that sits atop Matplotlib
# Aliased as sns 


# pyplot is a Matplotlib module which provides a MATLAB-like interface
# "matplotlib.pyplot" is aliased as plt

### Reading in a comma separated values (csv) file
- [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [ ]:
cc = pd.read_csv('datasets/club_noise_complaints.csv')

In [6]:
# Read in the "club_noise_complaints.csv" using a handy Pandas method
# Assign the data to a variable name such as "cc" (for club complaints)

cc = pd.read_csv('data/club_noise_complaints.csv')


# A comma separated values (csv) file is a plain text file that contains a list of data 
# with elements separated by commmas. There are also tab separated files (tsv), json files
# (JavaScript Object Notation), etc.

### Getting a look at the dataset using Pandas methods such as `.head()`, `.tail()`, and `.sample()`

- [pandas.DataFrame.head](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)
- [pandas.DataFrame.tail](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html)
- [pandas.DataFrame.sample](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html)

In [16]:
# Check the first five rows of the Pandas DataFrame
cc.head()

# Check the last five rows of the Pandas DataFrame
cc.tail()

# Check out a sample row of the Pandas DataFrame
cc.sample()

,index,LOC,ZC,CITY,BOUROUGHS_STATE,LAT,LONG,num_calls
2442,2443,Club/Bar/Restaurant,11211,NaN,"BROOKLYN, NY",40.711765,-73.942687,16
2443,2444,Club/Bar/Restaurant,11104,SUNNYSIDE,"QUEENS, NY",40.740725,-73.923911,17
2444,2445,Club/Bar/Restaurant,10012,NEW YORK,"MANHATTAN, NY",40.729859,-74.000592,17
2445,2446,Club/Bar/Restaurant,10304,STATEN ISLAND,"STATEN ISLAND, NY",40.628744,-74.079935,11
2446,2447,Club/Bar/Restaurant,11423,HOLLIS,"QUEENS, NY",40.711692,-73.769709,11

### Output a concise summary of a Pandas DataFrame using `.info()`

- [pandas.DataFrame.info](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html)

In [18]:
# Chain on the `info()` method to the Pandas DataFrame variable
cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2447 entries, 0 to 2446
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            2447 non-null   int64
 1   LOC              2447 non-null   object
 2   ZC               2447 non-null   int64
 3   CITY             1708 non-null   object
 4   BOUROUGHS_STATE  2447 non-null   object
 5   LAT              2447 non-null   float64
 6   LONG             2447 non-null   float64
 7   num_calls        2447 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 153.1+ KB

### Checking the dimensions (number of rows and columns) in the dataset

- [pandas.DataFrame.shape](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html)

In [24]:
# Chain on the `shape` attribute to the Pandas DataFrame variable
# The output is a tuple containing the number of rows and columns in the DataFrame
cc.shape

# Chain on the `columns` attribute to the Pandas DataFrame variable
# The output is the name of the columns in the Pandas DataFrame
cc.columns


# Chain on the `index` attribute to the Pandas DataFrame variable
# The output is the index of the DataFrame, the data type of that index, and
# the length of number of index values
cc.index

RangeIndex(start=0, stop=2447, step=1)

### Checking the data types in dataset

- [Pandas DataTypes](https://pbpython.com/pandas_dtypes.html)
![alt text](assets/data_types.png)

In [28]:
# Output the data types in the DataFrame using the `dtypes` attribute
# Common datatypes are int64, float64, object, and many more
cc.dtypes

index                int64
LOC                 object
ZC                   int64
CITY                object
BOUROUGHS_STATE     object
LAT                float64
LONG               float64
num_calls           object
dtype: object

## Check the number of unique values inside either each column/series of a Pandas Dataframe or a single Pandas column/series

- [pandas.DataFrame.nunique](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html)
- [pandas.Series.nunique](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.nunique.html)
      - Count the number of distinct observations over a requested axis.

In [30]:
# The `.nunique()` method used on the DataFrame outputs a count of the number of the
# unique values in each column or Pandas Series in the DataFrame
cc.nunique()

index              2447
LOC                   2
ZC                  159
CITY                 40
BOUROUGHS_STATE       6
LAT                2390
LONG               2389
num_calls           190
dtype: int64

- [pandas.DataFrame.drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)
      - Drop specified labels from rows or columns.

In [32]:
# From the documentation...
# axis{0 or ‘index’, 1 or ‘columns’}, default 0   <---- this is key
# Whether to drop labels from the index (0 or ‘index’) or columns (1 or ‘columns’).


# So if you want to drop a column, such as the seemingly unneeded "index" column,
# we'll override the default parameter of axis=0 or dropping rows by adding
# axis=1 inside the parantheses

cc.drop(columns='index', inplace=True, axis=1)

In [34]:
# Check the columns again using the appropriate columns
cc.columns

Index(['LOC', 'ZC', 'CITY', 'BOUROUGHS_STATE', 'LAT', 'LONG', 'num_calls'], dtype='object')

### Checking for missing values 

- [pandas.DataFrame.isnull](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isnull.html)
      - Detects missing values

In [36]:
# Chaining on the "isnull" method returns a series of Booleans. 
# True if the value is missing (NaN), False if the value is not missing)
# NaN = Not a Number
cc.isnull()


# Chaining on the .sum() method totals up those 1's and 0's
# True -> 1, False -> 0
cc.isnull().sum()

LOC                  0
ZC                   0
CITY               739
BOUROUGHS_STATE      0
LAT                  0
LONG                 0
num_calls            0
dtype: int64

In [40]:
# Now we can filter that "cc.isnull().sum()" 
cc.notnull().sum()

LOC                2447
ZC                 2447
CITY               1708
BOUROUGHS_STATE    2447
LAT                2447
LONG               2447
num_calls          2447
dtype: int64

### Checking for duplicate rows
- [pandas.DataFrame.duplicated](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html)
      - Returns a Series of booleans denoting duplicate rows.
      
      - Key Parameter:
           - keep{‘first’, ‘last’, False}, default ‘first’: Determines which duplicates 
             (if any) to mark.
           - first : Mark duplicates as True except for the first occurrence.
           - last : Mark duplicates as True except for the last occurrence.
           - False : Mark all duplicates as True.

In [42]:
# Here's the boolean output...
cc.duplicated()

# Here's the totals/sums after chaining on the .sum() method
cc.duplicated().sum()

7

In [55]:
# Always good to check your work...
print(cc.duplicated().sum())

7

### Dropping duplicate rows
- [pandas.DataFrame.drop_duplicates](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html)
      - Returns a DataFrame with duplicate rows removed.

In [61]:
# Use the "drop_duplicates" method and then either assign it back to the DataFrame
# variable name OR explore the inplace parameter and override the default
cc.drop_duplicates(inplace=True)

**Always good to check your work...**

- [pandas.DataFrame.shape](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html)
      - Returns a tuple representing the dimensionality (rows, columns) of the DataFrame.

In [63]:
# We can use the `shape` attribute again to check the number of rows
# or columns in the DataFrame as we explore the data/make changes to it.
cc.info()
cc.shape
cc.columns

<class 'pandas.core.frame.DataFrame'>
Index: 2440 entries, 0 to 2446
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LOC              2440 non-null   object
 1   ZC               2440 non-null   int64
 2   CITY             1703 non-null   object
 3   BOUROUGHS_STATE  2440 non-null   object
 4   LAT              2440 non-null   float64
 5   LONG             2440 non-null   float64
 6   num_calls        2440 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 152.5+ KB

### Find the rows where the `num_calls` column contains a `?`

- [pandas.Series.str.contains](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html)
      - Returns a Series of booleans based on whether a given pattern is contained 
        within a string of a Series

In [95]:
# "\" allows us to escape the pattern - the "?" is what we're searching for in the data

cc[cc["num_calls"].str.contains("\\?")] 


# Use the handy "len" (length) function to get a count of the rows that contain a "?" 
len(cc[cc["num_calls"].str.contains("\\?")])

22

### Use a handy method from the NumPy library commonly referred to as `np.where()` to replace the `"?"` and `"1?"` values with a NaN (Not a Number)

- [numpy.where](https://numpy.org/doc/stable/reference/generated/numpy.where.html)
      - Return elements chosen from x or y depending on a condition.
      - Common syntax involves three values:
          1. condition
          2. what to return if condition is True
          3. what to return if condition is False

In [121]:
#cc['num_calls'] = np.where(#condition, #if true, #if false)

cc['num_calls'] = np.where(cc["num_calls"].str.contains("\\?"), np.nan, cc['num_calls'])

In [119]:
# Check the missing values in the columns of the Pandas DataFrame
cc.head()

,LOC,ZC,CITY,BOUROUGHS_STATE,LAT,LONG,num_calls
0,Club/Bar/Restaurant,10308,STATEN ISLAND,"STATEN ISLAND, NY",40.544096,-74.141155,0
1,Club/Bar/Restaurant,10012,NEW YORK,"MANHATTAN, NY",40.729793,-73.998842,18
2,Club/Bar/Restaurant,10308,STATEN ISLAND,"STATEN ISLAND, NY",40.544209,-74.141040,21
3,Club/Bar/Restaurant,10034,New York,"MANHATTAN, NY",40.866376,-73.928258,160
4,Club/Bar/Restaurant,11220,NaN,"BROOKLYN, NY",40.635207,-74.020285,17

In [123]:
cc['num_calls'].isnull().sum()

22

### Split the values in `BOUROUGHS_STATE` columns into two separate columns then concat (or add) those two columns to the original Pandas DataFrame

- [pandas.Series.str.split](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html)
      - Key Parameters:
        - pat: String or regular expression to split on. If not specified, 
               the method will split on whitespace.
        - expand (default False): Expand the split strings into separate columns.
             - If True, return DataFrame/MultiIndex expanding dimensionality.
             - If False, return Series/Index, containing lists of strings.
                 
- [pandas.concat](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html)
      - Key Parameter: axis {0 = "index", 1 = "columns"}, default 0
         - References the axis to concatenate along.

In [125]:
cc.columns

Index(['LOC', 'ZC', 'CITY', 'BOUROUGHS_STATE', 'LAT', 'LONG', 'num_calls'], dtype='object')

In [131]:
# Split the 'BOUROUGHS_STATE' column into two separate columns 
# and assign back to the new variable below
# Conceptually similar to using "Text to Columns" in Excel


cc[['BOUROUGHS','STATE']] = cc['BOUROUGHS_STATE'].str.split(',', expand=True)
#example below
#df[['First Name', 'Last Name']] = df['Name'].str.split(' ', expand=True)

# Concat (combine) the new Pandas DataFrame above with the original "cc" DataFrame
#cc = pd.concat([#dataframe1, #dataframe2 ], axis= )

In [133]:
cc.columns

Index(['LOC', 'ZC', 'CITY', 'BOUROUGHS_STATE', 'LAT', 'LONG', 'num_calls',
       'BOUROUGHS', 'STATE'],
      dtype='object')

### Drop a column (or columns) from a Pandas DataFrame

- [pandas.DataFrame.drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)
      - Key Parameter: axis{0 --> "index", 1 --> "columns"}, default 0
         - Whether to drop labels from the index (0 or ‘index’) or 
           columns (1 or ‘columns’).

In [135]:
# Drop the original "BOUROUGHS_STATE" column from DataFrame
cc.drop(columns="BOUROUGHS_STATE", inplace=True)

In [137]:
# Check your work
cc.columns

Index(['LOC', 'ZC', 'CITY', 'LAT', 'LONG', 'num_calls', 'BOUROUGHS', 'STATE'], dtype='object')

In [139]:
cc.head()

,LOC,ZC,CITY,LAT,LONG,num_calls,BOUROUGHS,STATE
0,Club/Bar/Restaurant,10308,STATEN ISLAND,40.544096,-74.141155,0,STATEN ISLAND,NY
1,Club/Bar/Restaurant,10012,NEW YORK,40.729793,-73.998842,18,MANHATTAN,NY
2,Club/Bar/Restaurant,10308,STATEN ISLAND,40.544209,-74.141040,21,STATEN ISLAND,NY
3,Club/Bar/Restaurant,10034,New York,40.866376,-73.928258,160,MANHATTAN,NY
4,Club/Bar/Restaurant,11220,NaN,40.635207,-74.020285,17,BROOKLYN,NY

### Rename columns in a Pandas DataFrame

- [pandas.DataFrame.rename](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)
      - Accepts a dictionary of key/values pairs to rename columns in a Pandas DataFrame
      - Key Parameter: columns

In [143]:
# Pass a dictionary of key:values pairs to the columns parameter of the "rename" method
cc.rename(columns={"LOC": "location", "ZC":"zipcode", "CITY":"city", "LAT":"latitude", "LONG":"longitude", "num_calls":"numberofcalls", "BOUROUGHS":"bouroughs", "STATE":"state"}, inplace=True)

In [145]:
# Check your work
cc.columns

Index(['location', 'zipcode', 'city', 'latitude', 'longitude', 'numberofcalls',
       'bouroughs', 'state'],
      dtype='object')

### Reorder columns in a Pandas DataFrame

- [pandas.DataFrame.reindex](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reindex.html)
      - Can be used to reorder columns in a Pandas DataFrame
      - Key Parameter: columns

In [163]:
# Pass a list of column names (as string) to the columns parameter of the "reindex" method
cc = cc.reindex(columns=['latitude', 'longitude', 'city', 'numberofcalls', 'bouroughs', 'state', 'zipcode', 'location'])

In [165]:
# Check your work
cc.columns

Index(['latitude', 'longitude', 'city', 'numberofcalls', 'bouroughs', 'state',
       'zipcode', 'location'],
      dtype='object')

### Use `.describe()` to output descriptive statistic for the numeric columns in the Pandas DataFrame

- [pandas.DataFrame.describe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)
      - Descriptive statistics summarizing the central tendency, dispersion and 
        shape of a dataset’s distribution, excluding NaN values.

In [155]:
# The `describe()` method outputs descriptive statistics by default for the
# numeric columns in the Pandas DataFrame.
cc.describe()

            zipcode     latitude    longitude
count   2440.000000  2440.000000  2440.000000
mean   10631.856967    40.700572   -73.891898
std      591.657847     1.651217     2.994412
min    10001.000000   -40.764281   -74.251277
25%    10019.000000    40.701890   -73.987822
50%    10463.000000    40.728312   -73.957928
75%    11217.000000    40.765226   -73.925376
max    11694.000000    40.910201    73.930575

In [ ]:
# Setting a condition outputs a series of Booleans. 
# True if the condition is met, False if not

In [157]:
# Filtering the "cc" DataFrame by the condition of "cc['latitude'] <= 0"
# will return the rows where that condition is met 
# (latitude values is less than or equal to zero)
cc[cc['latitude'] <=0]

,location,zipcode,city,latitude,longitude,numberofcalls,bouroughs,state
1048,Club/Bar/Restaurant,10036,NEW YORK,-40.764281,-73.998581,10,MANHATTAN,NY

In [161]:
# Now just flipping the sign around for the "longitude" Series (column) to output
# the rows where the longitude value is greater than or equal to zero
cc[cc['longitude']>= 0]

,location,zipcode,city,latitude,longitude,numberofcalls,bouroughs,state
2339,Club/Bar/Restaurant,11237,NaN,40.704007,73.930575,14,BROOKLYN,NY

**`.loc` and `.iloc`**
  - [Indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)
  - [Handy .loc and .iloc resource](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/)

In [167]:
# Fix the erroneous value in the "longitude" column
#From my research in Google Maps, New York has a negative longitude value -73 and positive latitude 40.
cc['longitude'] = cc['longitude'].apply(lambda x: -x if x > 0 else x) #flips pos to neg

In [169]:
# Fix the erroneous value in the "latitude" column
cc['latitude'] = cc['latitude'].apply(lambda x: -x if x < 0 else x)

**Always good to check your work...**

In [175]:
# Check the "longitude" column again for any erroneous values
cc['longitude'].head()
cc[cc['longitude']>= 0]

0   -74.141155
1   -73.998842
2   -74.141040
3   -73.928258
4   -74.020285
Name: longitude, dtype: float64

In [177]:
# Check the "latitude" column again for any erroneous values
cc['latitude'].head()
cc[cc['latitude'] <=0]

0    40.544096
1    40.729793
2    40.544209
3    40.866376
4    40.635207
Name: latitude, dtype: float64

### We can write all this work back to a csv file if we wish to. 

- [pandas.DataFrame.to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)
      - Key Parameter: index (bool), default True
         - Write row names (index)

In [179]:
# Write the cleaned up Pandas DataFrame to a comma-separated values (csv) file.
cc.to_csv("data/cc_modified.csv", index=False)